<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        
    </script>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <div>
        <div>열심히 성장해 보아요!</div>
        <div>하트</div>
    </div>
    <div>
        <div>초밥왕</div>
        <div>2023.04.03</div>
    </div>
    <div>
        5개월동안 몰입하여 성과를 내고 싶습니다.
    </div>
</body>
</html>