<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정글미니</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        $(document).ready(function() {
            login_mypage_btn()

            $("#like-article").click(function(){

                // const pushHeartBtn = document.querySelector('.like-icon');
                // console.log(pushHeartBtn);
                // pushHeartBtn.style.src = "../static/icon/filled.svg";
                const pushHeartBtn = document.getElementById("like-article");
                pushHeartBtn.src = "../static/icon/filled.svg";  // 색 변경하기
                document.querySelector('#article-count').textContent = Number(document.querySelector('#article-count').textContent) + 1
                
                // 글의 좋아요 수 1 증가한다. 사용자 이이디의 좋아요 목록에 추가한다.
                const articleId = document.location.pathname.split("/")[2]

                $.ajax({
                    type: "POST",
                    url: "/article/like",
                    data: {'id_give': articleId},
                    success: function(response) {
                        if (response['result'] == 'success'){
                            console.log('hello')
                            alert('좋아요! 완료')
                        }
                    }
                })
            });
        })

        function login_mypage_btn() {
            $.ajax({
                type: "GET",
                url: "/islogin",
                data: {},
                success: function(response) {
                    let islogin = response['islogin']
                    if (islogin == true) {
                        $(".dropdown").css('display', 'inline-block')
                        $("#login").css('display', 'none')
                        console.log("MyPage ON")
                    } else {
                        $("#login").css('display', 'inline-block')
                        $(".dropdown").css('display', 'none')
                        console.log("Login ON")
                    }
                }
            })
        }

    </script>
</head>
<body>
    <header>
        <div class="header">
            <a id="btn-home" onclick="location.href='/home'">MAIN</a>
            <input id="search"/>
            <button class="search-btn">검색</button>
            <button id="login" onclick="location.href='/login'" style="border: 0px; color: #48b151;">LOGIN</button>
            <div class="dropdown">
                <button id="dropbtn" onclick="location.href='/home'">MYPAGE</button>
                <div class="dropdown-content">
                    <a href="/profile/like">프로필</a>
                    <a href="/write">글쓰기</a>
                    <a href="/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </header>
    <div id="root">
    </div>
    <div class="article-form">
        <div class="article-header">
            <div class="title-like">
                <div class="article-title">{{article["title"]}}</div>
                <div class="article-like">
                    <img class="like-icon" id="like-article" src="../static/icon/outlined.svg"/>
                    <div class="article-like-count" id="article-count">{{article["like"]}}</div>
                </div>
            </div>
            <div class = "nickname-date">
                <div>{{article["nickname"]}}</div>
                <div class="article-date">{{article["date"]}}</div>
            </div>
        </div>
        <div class="article-content">
            {{article["content"]}}
        </div>
        <button onClick=history.back()>뒤로가기</button>
    </div>
</body>
</html>