<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <title>정글미니</title>
    <script>
        $(document).ready(function () {
            login_mypage_btn()
        });

        function login_mypage_btn() {
            $.ajax({
                type: "GET",
                url: "/islogin",
                data: {},
                success: function(response) {
                    let islogin = response['islogin']
                    if (islogin == true) {
                        $(".dropdown").css('display', 'inline-block')
                        $("#login").css('display', 'none')
                        console.log("MyPage ON")
                    } else {
                        $("#login").css('display', 'inline-block')
                        $(".dropdown").css('display', 'none')
                        console.log("Login ON")
                    }
                }
            })
        };

        function go_articeId1(button) {
            let indexNumber = $(button).index();
            let articleId = document.getElementById("article1-object-id-"+indexNumber).textContent;
            console.log(articleId)
            window.location.href = '/article/'+articleId 
        };

        function go_articeId2(button) {
            let indexNumber = $(button).index();
            let articleId = document.getElementById("article2-object-id-"+indexNumber).textContent;
            console.log(articleId)
            window.location.href = '/article/'+articleId 
        };

        function go_articeId3(button) {
            let indexNumber = $(button).index();
            let articleId = document.getElementById("article3-object-id-"+indexNumber).textContent;
            console.log(articleId)
            window.location.href = '/article/'+articleId 
        }
    </script>
</head>
<body>
    <header>
        <div class="header">
            <a id="btn-home" onclick="location.href='/home'">MAIN</a>
            <input id="search"/>
            <button class="search-btn">검색</button>
            <button id="login" onclick="location.href='/login'" style="border: 0px; color: #48b151;">LOGIN</button>
            <div class="dropdown">
                <button id="dropbtn" onclick="location.href='/home'">MYPAGE</button>
                <div class="dropdown-content">
                    <a href="/profile/like">프로필</a>
                    <a href="/write">글쓰기</a>
                    <a href="/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </header>
    <div class="root">
        <div class="line">
            <div class="box" style="border: 0px;">
                <img width="225" src="../static/icon/firework.png"/>
            </div>
            <div class="box">
                <div class="box-title">❤️‍🔥 인기글</div>
                <div class="box-content">
                    <p>
                        {{article_like_list[0]["title"]}}
                    </p>
                    <p>
                        {{article_like_list[0]["content"]}}                        
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="box-title">📝 게시판 왕</div>
                <div class="box-content">
                    {% for i in range(3) %}
                    <li>{{ i+1 }}등 {{ ranking_names[i] }}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="line">
            <div class="board-box">
                <div class="box-title">🗣️ 소통 게시판</div>
                <div class="box-board-content">
                    {% set count = namespace(value=0) %}
                    {% for article in article_new_list %}
                    {% if article["category"] == '1' %}
                    <li onclick="go_articeId1(this)" id="study_{{count.value}}">{{ article["title"] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ article["articleclass"] }}
                        <div id="article1-object-id-{{count.value}}" style="display: none;">{{article["_id"]}}</div>
                        <hr>
                    </li>
                    {% set count.value = count.value + 1 %}
                    {% if count.value == 3 %}
                    {% break %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}                  
                </div>
                <button class="more-button" onclick="location.href='/board/1'">더보기</button>
            </div>
            <div class="board-box">
                <div class="box-title">🔥 열공 게시판</div>
                <div class="box-board-content">
                    {% set count = namespace(value=0) %}
                    {% for article in article_new_list %}
                    {% if article["category"] == '2' %}
                    <li onclick="go_articeId2(this)" id="study_{{count.value}}">{{ article["title"] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ article["articleclass"] }}
                        <div id="article2-object-id-{{count.value}}" style="display: none;">{{article["_id"]}}</div>
                        <hr>
                    </li>
                    {% set count.value = count.value + 1 %}
                    {% if count.value == 3 %}
                    {% break %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}  
                </div>
                <button onclick="location.href='/board/2'">더보기</button>                
            </div>
            <div class="board-box">
                <div class="box-title">🧼 생활 정보</div>
                <div class="box-board-content">
                    {% set count = namespace(value=0) %}
                    {% for article in article_new_list %}
                    {% if article["category"] == '3' %}
                    <li onclick="go_articeId3(this)" id="study_{{count.value}}">{{ article["title"] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ article["articleclass"] }}
                        <div id="article3-object-id-{{count.value}}" style="display: none;">{{article["_id"]}}</div>
                        <hr>
                    </li>
                    {% set count.value = count.value + 1 %}
                    {% if count.value == 3 %}
                    {% break %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}                  
                </div>
                <button onclick="location.href='/board/3'">더보기</button>
            </div>
        </div>
    </div>
</body>
</html>