<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type=text/javascript>
    function login() {
        let token = {{ token | tojson}}
        $.cookie('mytoken', token, { expires: 1 / (24), path: '/' });
        alert("쿠키저장 성공")
        // console.log(access_token)
        // if (response['result'] == 'success') {
        //     $.cookie('mytoken', response['usertoken'], { expires: 1 / (24 * 60), path: '/' });
        //     alert("쿠키저장 성공")
        // } else {
        //     alert("쿠키저장 실패")
        // }
    } 
</script>
<h1>hello world!</h1>