<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <title>로그인</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    
    <script>
        function login(){
            let email = $('#email').val()
            let password = $('#password').val()
            $.ajax({
                        type: 'POST',
                        url: '/login',
                        data: {email_give: email, password_give: password},
                        success: function (response) {
                            // console.log(response)
                            let access_token = response['usertoken']
                            //console.log(access_token)
                            if (response['result'] == 'success') {
                                $.cookie('mytoken', response['usertoken'], {expires: 1/(24*60),path: '/'});
                                window.location.replace("/home")
                            } else {
                                let empty1 = document.getElementById("email")
                                let empty2 = document.getElementById("password")
                                empty1.value=null
                                empty2.value=null
                                alert(response['msg']) 
                            }                            
                        }
                    }); 
        } 
    </script>
</head>
<body>
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>alert("{{messages[-1]}}")</script>
    {% endif %}
    {%endwith%} -->

    <div>
        <label for = "LOGIN"><h1 style="color:white; text-align:center" >LOGIN</h1>
    <p>
        <label for = "email" ><h3 style="color:white">이메일:</h3></label> <input class="title-input" type="text" name="email" id="email">
    </p>
    <p>
        <label for = "password"><h3 style="color:white">비밀번호:</h3></label> <input  class="title-input" type="password" name="password" id="password">
    </p>
    <button type="button" onclick="login()">로그인</button>
    </div>
    <!-- <div>
    <table>
        <form name="form" action="/login" method="POST">
            <tr>
                <td>
                    이메일:
                </td>
                <td>
                    <input type="text" name="email" id="email">
                </td>
            </tr>
            <tr>
                <td>
                    비밀번호:
                </td>
                <td>
                    <input type="password" name="password" id="password">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" onclick="login2()">로그인</button>
                    <input type="submit" value="로그인">
                </td>    
            </tr>    
        </form>
    </table>
    </div> -->

    
</body>
</html>


