<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;900&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<style>
    .like,
    .write {
        display: flex;
        flex-direction: column;
    }
</style>
<script>
    $(document).ready(function () {
        push_write()
        push_like()
    })
    function push_write() {
        var clickEls = $('.write div');
        clickEls.click(function () {
            var indexNumber = $(this).index();
            console.log(indexNumber);
            $('#show-article-' + indexNumber).click(function () {
                let articleId = document.getElementById("article-object-id-" + indexNumber).textContent;
                console.log(articleId)
                window.location.replace("/article/" + articleId)
            })
        })
    }
    function push_like() {
        var clickEls = $('.like div');
        clickEls.click(function () {
            var indexNumber = $(this).index();
            console.log(indexNumber);
            $('#show-article-' + indexNumber).click(function () {
                let articleId = document.getElementById("article-object-id-" + indexNumber).textContent;
                console.log(articleId)
                window.location.replace("/article/" + articleId)
            })
        })
    }
    function change_like() {
        if ($(".like").css('display') == 'none') {
            $(".like").css('display', 'inline-block')
            $(".write").css('display', 'none')
        }
    }
    function change_write() {
        if ($(".write").css('display') == 'none') {
            $(".like").css('display', 'none')
            $(".write").css('display', 'inline-block')
        }
    }
</script>
<header>
    <div class="header">
        <a id="btn-home" onclick="location.href='/home'">MAIN</a>
        <input id="search" />
        <button>검색</button>
        <div class="dropdown">
            <button id="dropbtn" onclick="location.href='/home'">MyPage</button>
            <div class="dropdown-content">
                <a href="/profile/like">프로필</a>
                <a href="/write">글쓰기</a>
                <a href="/logout">로그아웃</a>
            </div>
        </div>
    </div>
</header>
<div id="root">
    <div class="board">
        <nav class="category-navigation">
            <a class="category-title" onclick="change_like()">좋아요</a>
            <a class="category-title" onclick="change_write()">내가 쓴 글</a>
        </nav>

        <div class="like">
            {% for article in like_list %}
            {% if loop.index > 4 %}
            {% break %}
            {% endif %}
            <div id="show-article-{{loop.index}}" class="article">
                <div id="article-object-id-{{loop.index}}" style="display: none;">{{article["_id"]}}</div>
                <div>{{article["title"]}}</div>
                <div class="additional_info">
                    <div>{{article["nickname"]}}</div>
                    <div>{{article["date"]}}</div>
                    <div class="article-like">
                        <img class="like-icon" src="../static/icon/filled.svg" />
                        <div class="article-like-count" id="article-count">{{article["like"]}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="write" style="display: none;">
            {% for article in write_list %}
            {% if loop.index > 4 %}
            {% break %}
            {% endif %}
            <div id="show-article-{{loop.index}}" class="article">
                <div id="article-object-id-{{loop.index}}" style="display: none;">{{article["_id"]}}</div>
                <div>{{article["title"]}}</div>
                <div class="additional_info">
                    <div>{{article["nickname"]}}</div>
                    <div>{{article["date"]}}</div>
                    <div class="article-like">
                        <img class="like-icon" src="../static/icon/filled.svg" />
                        <div class="article-like-count" id="article-count">{{article["like"]}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>