<style>
    .wrap {
        background-color: #000000;
        width: 1920px;
        height: 1080px;
    }

    .top {
        width: 1920px;
        height: 150px;
    }

    #btn-home {
        position: static;
        display: inline-block;
        width: 150px;
        height: 70px;
        background-color: transparent;
        border: 0px;
        color: #48b151;
        font-size: 60px;
        margin-left: 40px;
    }

    #search {
        display: inline-block;
        width: 70%;
        height: 110px;
        border: 2px solid #FFFFFF;
        background-color: transparent;
        color: #48b151;
        font-size: 35px;
        border-radius: 50px;
        margin: 20px 50px;
        padding: 10px 40px 10px
    }

    #dropbtn {
        display: inline-block;
        width: 150px;
        height: 70px;
        background-color: transparent;
        border: 0px;
        color: #48b151;
        font-size: 60px;
        margin-right: 50px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        width: 120%;
        position: absolute;
        background-color: transparent;
        z-index: 1;
    }

    .dropdown-content a {
        color: #9feba5;
        display: block;
        font-size: 40px;
        text-align: center;
        text-decoration-line: none;
    }

    .dropdown-content a:hover {
        background-color: #48b1516b;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #top-area-endline {
        margin: 0;
    }
</style>

<div class="wrap">
    <div class="top">
        <button id="btn-home" onclick="location.href='/home'">Main</button>
        <input id="search"/>
        <div class="dropdown">
            <button id="dropbtn" onclick="location.href='/home'">MyPage</button>
            <div class="dropdown-content">
                <a href="/profile/like">프로필</a>
                <a href="/write">글쓰기</a>
                <a href="/logout">로그아웃</a>
            </div>
        </div>
        <hr id="top-area-endline">
    </div>
</div>